/* <button class="button-13" role="button">Button 13</button> */

/* CSS */
.button-13 {
  background-color: #fff;
  /* border: 1px solid #d5d9d9; */
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  /* color: #0f1111; */
  cursor: pointer;
  display: inline-block;
  /* font-family: "Amazon Ember",sans-serif; */
  /* font-size: 13px; */
  /* line-height: 29px; */
  /* padding: 0 10px 0 11px; */
  padding: 2px 8px;
  /* position: relative; */
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  /* width: 100px; */
  transition: transform 0.3s ease-in-out;
}

.button-13:hover {
  background-color: #f7fafa;
  transform: scale(1.1);
}

/* .button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
} */

.btn-empresa {
    color: orange;
    border: solid orange 1px;
}

.btn-empresa:focus {
    border-color: orange;
    box-shadow: orange 0 2px 5px 0;
    outline: 0;
}

.btn-control {
    color: green;
    border: solid green 1px;
}

.btn-control:focus {
    border-color: green;
    box-shadow: green 0 2px 5px 0;
    outline: 0;
}

.btn-proyecto {
    color: blue;
    border: solid blue 1px;
}

.btn-empresa:focus {
    border-color: blue;
    box-shadow: blue 0 2px 5px 0;
    outline: 0;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2rem;
  /* font-weight: 600; */
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 8rem;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}