@font-face {
    font-family: 'Muli Light';
    src: url('C:\Users\andre\OneDrive\Documents\Avance 3\public\fonts\Muli-Light.ttf') format('truetype');
}

body {
    font-family: 'Multi Light', sans-serif;
}

.registro-form {
    margin: 10vh auto 10vh auto;
    /* border: solid lightgray 1px; */
    /* width: 50%; */
} 

.hidden {
    display: none;
}

p .hidden {
    color: red;
    font-size: small;
}


.warning {
    color: red;
    font-size: small;
    position: relative;
    bottom: 5px;
}

/* Seccion de NavBar */
.universal-nav {
    height: 8vh;
    width: 100%;
    background-color: lightgrey;
    /* background-color: lightblue; */
    /* background-color: #24527a; */
    /* background-color: #afbfb9; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-1 {
    display: flex;
    justify-content: flex-start;
    flex-basis: 20%;
    align-items: center;
    padding-left: 5vh;
    gap: 2rem;
}

.flex-1 img {
    width: 150px;
}

.search-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 39%;
    padding: 0;
}

.no-margin {
    margin: auto 0;
    position: relative;
    top: 7px;
}

.flex-2 {
    display: flex;
    justify-content: center;
    flex-basis: 27%;
    align-items: center;
    gap: 20px;
    height: 100%;
    font-size: larger;
    /* margin-right: 5vh;
    margin-bottom: 2rem; */
}

.flex-2 p {
    margin: auto 0;
}

.flex-cerrar {
    flex-basis: 14%;
    text-align: center;
}

.btn-cerrar {
    background-color: gold;
    color: #000;
}

/* Seccion de Managar Options */
.manager-options {
    width: 100%;
    background: #f3f3f3;
    /* background-color: #adf8f6; */
    /* background-color: #a7bcb9; */
    /* background-color: #e0ebeb; */
    height: 6vh;
    padding: 0 2rem 0 6rem;
    display: flex;
    align-items: center;
}

.manager-options p {
    display: inline-block; 
    margin: auto 0 auto 0;
    width: 30%;
}

.fornow {
    display: inline-block;
    width: 60%;
    margin: auto 0 auto 0;
    color: #fff;
}

.controls-flex {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin: auto 0 auto 0;
}

.controls-flex a {
    color: #fff;
}

.controls-flex a, .btn-cerrar {
    cursor: pointer;
    border: solid black 1px;
    padding: 5px 10px;
    font-size: small;
    border-radius: 6px;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    /* color: #fff; */
}

.controls-flex a:hover, .btn-cerrar:hover {
    transform: scale(1.1);
}

/* Filtrar Proyectos */
.order-by-div {
    max-width: 20%;
    margin: 0 0 2rem 5rem;
    padding: 0;
    font-size: 2rem;
}

.order-by-div label {
    font-size: 1rem;
}

/* Cartas de Proyectos */
.card-flexbox {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: flex-start;
    column-gap: 5.3rem;
    row-gap: 2rem;
    align-items: center;
    margin: 2rem auto 2rem auto;
}

.card-flexbox a {
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-flexbox a:hover {
    transform: scale(1.1);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to left, blue, green, orange);
    border-image-slice: 1;
}

.flex-3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.flex-3 p {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
    padding: 0.6rem 0.5rem 0.5rem 0.5rem;
    text-align: center;
    align-self: center;
    font-weight: 600;
}

.my-title {
    color: black;
}

.blank {color: #fff; border-radius: 50%; background-color: green;}
/* .very-risky {color: #fff; border-radius: 50%; background-color: red;} */
.very-risky {border: solid red 2px; border-radius: 50%;}
/* .at-risk {border: solid orange 2px; border-radius: 50%;} */
/* .at-risk {color: #fff; border-radius: 50%; background-color: orange;} */
.at-risk {border: solid orange 2px; border-radius: 50%;}
.viable {border: solid yellow 2px; border-radius: 50%;}
.very-viable {border: solid greenyellow 2px; border-radius: 50%;}
.perfect {border: solid green 2px; border-radius: 50%;}

.p-desc {
    padding-bottom: 0.5rem;
    border-bottom: dotted lightgray 1px;
    font-size: small;
}

.fechas-div {
    line-height: 0.6rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

/* .card {
    opacity: 55%;
} */

/* Seccion de Footer */
footer {
    background-color: lightgrey;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
    /* position: absolute;
    bottom: 0; */
}


.flex-3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;    
    /* border: solid blue 1px; */
    /* padding: 0.5rem; */
}

table {
    width: 80%;
    margin: 0 auto;

}

.wrong {
    position: relative;
    bottom: 6rem;
    z-index: 2;
}

.avanzar {
    position: absolute;
    top: 17%;
    right: 24%;
    z-index: 2;
}

.input-x {
    z-index: 2;
    position: absolute;
    top: 56%;
    left: 50%;
    padding: 0.5rem;
    width: 400px;
}

.input-z {
    z-index: 2;
    position: absolute;
    top: 44%;
    left: 50%;
    padding: 0.5rem;
    width: 400px;
}

.enter {
    position: absolute;
    right: 2%;
    bottom: 27%;
    z-index: 2;
    width: 230px;
    padding: 0.6rem 0;
}

.history {
    margin: 0 auto;
    width: 20%;
}

.vis-img {
    width: 100%;
}

.history a {
    padding: 1rem;
    margin: 1rem;
}

.flex-3 input {
    flex-basis: 70%;
}

.sign-in-div {
    margin: 0 auto;
    width: 55%;
}

/* Seccion Registro */
.body-registro {
    display: flex;
    width: 100%;
    font-family: 'Muli Light', sans-serif;
    height: 100vh;
}

.img-div {
    flex-basis: 50%;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

.img-div img {
    height: 120vh;
    overflow: hidden;
}

.registro-div {
    flex-basis: 50%;
    border-left: solid black 1px;
    /* position: relative; */
}

.registro-form {
    width: 80%;
}

.registro-form input {
    width: 80%;
}

.registro-div h4 {
    padding: 0 1rem;
    text-align: center;
}

.registro-div img {
    max-width: 250px;
}

.page-counter {
    margin: 0 auto 2rem auto;
}

.pagination {
    display: flex;
    justify-content: center;
}

.page-link {
    cursor: pointer;
}

/* footer {
    width: 100%;
    text-align: center;
} */

/* Culpa a Erick si falla
*/

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
    z-index: 4;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	/* font-family: 'Montserrat', sans-serif; */
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}
 
.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
}

.popup form .contenedor-inputs input, select {
	width: 100%;
	margin-bottom: 15px;
	height: 40px;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup select {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 40px;
}

.popup option {
    line-height: 30px;
    font-size: 18px;
}

.placeholder {
    color: lightgrey;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	/* font-family: 'Montserrat', sans-serif; */
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* .contenedor article .btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
} */

.contenedor article .btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}

.contenedor {
	width: 80%;
	max-width: 1000px;
	margin: 20px auto;
}

.contenedor article {
	line-height: 28px;
}

.contenedor article h1 {
	font-size: 30px;
	text-align: left;
	padding: 50px 0;
}

.contenedor article p {
	margin-bottom: 20px;
}
/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

.costo-btn {
    border: none;
    border-radius: 0 5px 5px  0;
    height: 2.5rem;
    background-color: lightgrey;
    flex-grow: 1;
    position: relative;
    bottom: .45rem;
}