@font-face {
    font-family: 'Muli Light';
    src: url('C:\Users\andre\OneDrive\Documents\Avance 3\public\fonts\Muli-Light.ttf') format('truetype');
}

body {
    font-family: 'Multi Light', sans-serif;
}

form {
    margin: 10vh auto 10vh auto;
    /* border: solid lightgray 1px; */
    /* width: 50%; */
}

.hidden {
    display: none;
}

p .hidden {
    color: red;
    font-size: small;
}


.warning {
    color: red;
    font-size: small;
    position: relative;
    bottom: 5px;
}

/* Seccion de NavBar */
.universal-nav {
    height: 8vh;
    width: 100%;
    background-color: lightgrey;
    /* background-color: lightblue; */
    /* background-color: #24527a; */
    /* background-color: #afbfb9; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-1 {
    display: flex;
    justify-content: flex-start;
    flex-basis: 20%;
    align-items: center;
    padding-left: 5vh;
}

.flex-1 img {
    width: 150px;
}

.search-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 39%;
    padding: 0;
}

.no-margin {
    margin: auto 0;
    position: relative;
    top: 7px;
}

.flex-2 {
    display: flex;
    justify-content: center;
    flex-basis: 39%;
    align-items: center;
    gap: 20px;
    height: 100%;
    font-size: larger;
    /* margin-right: 5vh;
    margin-bottom: 2rem; */
}

.flex-2 p {
    margin: auto 0;
}

/* Seccion de Managar Options */
.manager-options {
    width: 100%;
    background: #f3f3f3;
    /* background-color: #adf8f6; */
    /* background-color: #a7bcb9; */
    /* background-color: #e0ebeb; */
    height: 6vh;
    padding: 0 2rem 0 6rem;
    display: flex;
    align-items: center;
}

.manager-options p {
    display: inline-block; 
    margin: auto 0 auto 0;
    width: 30%;
}

.fornow {
    display: inline-block;
    width: 60%;
    margin: auto 0 auto 0;
    color: #fff;
}

.controls-flex {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin: auto 0 auto 0;
}

.controls-flex a {
    cursor: pointer;
    border: solid black 1px;
    padding: 5px 10px;
    font-size: small;
    border-radius: 6px;
    transition: transform 0.3s ease-in-out;
}

.controls-flex a:hover {
    transform: scale(1.1);
}

/* Cartas de Proyectos */
.card-flexbox {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto 2rem auto;
}

.card-flexbox a {
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    /* background-color: red; */
    border-radius: 10px;
}

.card-flexbox a:hover {
    transform: scale(1.1);
}

.bueno {
    background-color: green;
}

.malo {
    background-color: red;
}

.card {
    /* background: transparent; */
    opacity: 95%;
}

/* Seccion de Footer */
footer {
    background-color: lightgrey;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* position: absolute;
    bottom: 0; */
}


.flex-3 {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    /* border: solid blue 1px; */
    padding: 1rem;
}

table {
    width: 80%;
    margin: 0 auto;

}

.wrong {
    position: relative;
    bottom: 6rem;
    z-index: 2;
}

.avanzar {
    position: absolute;
    top: 17%;
    right: 24%;
    z-index: 2;
}

.input-x {
    z-index: 2;
    position: absolute;
    top: 56%;
    left: 50%;
    padding: 0.5rem;
    width: 400px;
}

.input-z {
    z-index: 2;
    position: absolute;
    top: 44%;
    left: 50%;
    padding: 0.5rem;
    width: 400px;
}

.enter {
    position: absolute;
    right: 2%;
    bottom: 27%;
    z-index: 2;
    width: 230px;
    padding: 0.6rem 0;
}

.history {
    margin: 0 auto;
    width: 20%;
}

.vis-img {
    width: 100%;
}

.history a {
    padding: 1rem;
    margin: 1rem;
}

.flex-3 input {
    flex-basis: 70%;
}

.sign-in-div {
    margin: 0 auto;
    width: 55%;
}

/* Seccion Registro */
.body-registro {
    display: flex;
    width: 100%;
    font-family: 'Muli Light', sans-serif;
    height: 100vh;
}

.img-div {
    flex-basis: 50%;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

.img-div img {
    height: 120vh;
    overflow: hidden;
}

.registro-div {
    flex-basis: 50%;
    border-left: solid black 1px;
    /* position: relative; */
}

.registro-form {
    width: 80%;
}

.registro-form input {
    width: 80%;
}

.registro-div h4 {
    padding: 0 1rem;
    text-align: center;
}

.registro-div img {
    max-width: 250px;
}

/* footer {
    width: 100%;
    text-align: center;
} */