<header class="manager-options">
    <p>Manager Control Panel</p>
    <div class="fornow">
        <div class="controls-flex">
            <a style="background-color: orange;" id="btn-abrir-popup" class="btn-abrir-popup" >+ Agregar Empresa</a>
            <a style="background-color: green;">Control de Usuarios</a>
            <!--popup AGREGAR PROYECTO-->
            <a style="background-color: blue;" id="btn-abrir-AgregarProyecto-popup" class="btn-abrir-AgregarProyecto-popup">+ Agregar Proyecto</a>
            <!--popup AGREGAR PROYECTO-->
        </div>
    </div>
</header> 