<!DOCTYPE html>
    <head>
        <%- include('./../includes/head.html') %>
        <title>Home</title>
    </head>
    <body>
        <nav class="universal-nav">
            <div class="flex-1">
                <img src="/fonts/logo_color.png" alt="Appix">
            </div>
            <div class="search-nav">
                <div class="input-group mb-3 no-margin">
                    <input type="text" class="form-control" placeholder="buscar proyecto...">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                </div>
            </div>
            <div class="flex-2">
                <p><%= user.Nombre %>:</p>
                <p><%= user.Rol %></p>
            </div>
        </nav>
        <% if (user.Rol == "manager") { %>
            <%- include('./../includes/manager_panel.html') %>
        <% } else { %>
            <p>you are a measely peasant</p>
        <% } %>
        <section>
            <div class="project-card">
                
            </div>
        </section>
        <!--
        <div class="flex-2">
            <button>Agregar Empresa</button>
            <button>Control de Usuarios</button>
        </div>
        <div class="flex-3">
            <input>
            <button>Anadir Nuevo Proyecto</button>
        </div>
        <div class="history">
            <a>Actual</a>
            <a>Historial</a>
        </div>
        <table>
            <tr>
            <th>Nombre</th>
            <th>IDProyecto</th>
            <th>IDEmpresa</th>
            <th>Descripcion</th>
            <th>Estado</th>
            <th>Riesgos</th>
            </tr>
            <tr>
                <td>TiendaOnline.com</td>
                <td>0001</td>
                <td>0001</td>
                <td>Desarrollo de un sitio web</td>
                <td>75% (en riesgo)</td>
                <td>Brechas de seguridad, Error de Codigo....</td>
            </tr>
        </table> -->
    </body>
    <!-- <script src="/validation.js"></script> -->
</html>