<html>
    <head>
        <%- include('./../includes/head.html') %>
        <title>Sign In</title>
    </head>
    <body>
        <div class="body-registro">
            <div class="img-div">
                <img src="/imgs/intro_img.png">
            </div>
            <div class="registro-div">
                <div class="flex-3">
                    <img src="/fonts/logo_color.png"><!--<img src="/imgs/dinamite_logo.png"> -->
                </div>
                <h4>Para iniciar la sesion ingresa tu usuario y contrasena</h4>
                <form action="/usuarios/login" method="POST" class="registro-form">
                    <label for="nombre">Usuario</label><br>
                    <input id="nombre" name="correo" placeholder="email@correo.com"><br>
                    <label for="password">Contraseña</label><br>
                    <input type="password" id="password" name="contrasena" placeholder="password">
                    <p class="hidden" id="warning-empty">Campos no pueden estar vacios</p>
                    <p class="hidden" id="warning-chars">Credencials no pueden contener: /[!@#$%^&*()_+\-=\[\]{};':"\\|,.\/?]+/</p>
                    <br><br>
                    <input type="submit" id="entrar" value="Entrar">
                </form>
                <footer>
                    <p>Powered By: </p><img src="/imgs/dinamite_logo.png">
                </footer>
            </div>
        </div>
    </body>
    <script src="/validation.js"></script>
</html>